main {
  display: flex;
  height: calc(100vh - 68vh);
  & > div {
  }
  .first {
    flex: 1;
    background-image: url("../images/image-about-dark.jpg");
  }
  .second {
    flex: 1.4;
    background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .about {
      width: 90%;
      //   padding: 0 2em;
      line-height: 1.4;
      h2 {
        letter-spacing: 3px;
        font-size: 1rem;
        text-transform: uppercase;
        color: $very-dark-gray;
        margin-bottom: 1em;
      }
      p {
        font-size: 12px;
        color: $very-dark-gray;
        font-weight: 400;
      }
    }
  }
  .third {
    background-image: url("../images/image-about-light.jpg");
    flex: 1;
  }
}
