*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $ff-ubuntu;
  background-color: $light-blue;
}

.container {
  max-width: min(100%, 800px);
}

.sidebar {
  &-mobile {
    @include adjustbg(cover);
    background-image: url(../assets/images/bg-sidebar-mobile.svg);
    height: 25vh;
  }

  &-desktop {
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
  }
}

.content {
  &-mobile {
    &__card {
      background-color: $white;
      max-width: 320px;
      margin: 0 auto;
      transform: translateY(-20%);
      border-radius: 1rem;
      box-shadow: 0 10px 10px rgba(#000000, 0.3);
      padding: 2rem;

      header {
        p {
          margin-top: 1rem;
        }
      }
    }

    &__footer {
      background-color: $white;
    }
  }
}
