$marine-blue:  hsl(213,96%,18%);
$purpulish-blue: hsl(243,100%, 62%);
$pastel-blue: hsl(228,100%,84%);
$light-blue: hsl(206,94%,87%);
$strawberry-red: hsl(354,84%,57%);

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

$mobile-width: 375px;
$desktop-width: 1440px;

$ff-ubuntu: 'Ubuntu';
$border-radius-1: 4px;


$btn-sm: 1.4rem;
$btn-lg: 1.8rem;
$btn-normal: 1.6rem; 
