.badge {
    background-color: $primary-blue;
    color: $white;
    padding: .3rem 1rem;
    font-size: 1.4rem;
    border-radius: 4px;
}

.read {

    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $primary-red;
}