.h1 {
    font-size: 2rem;
    font-weight: $weight-600;
    color: $very-dark-blue;
}

.h2 {
    font-size: 1.6rem;
    font-weight: $weight-500;
}

.h3 {
    font-size: 1.2rem;
    font-weight: $weight-500;
}

.para {
    font-size: 1.6rem;
    font-weight: $weight-300;
    color: $dark-grayish-blue;
}